@use '../variables.scss';

.SignInPage {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 42px;

  .SignInPageTitle {
    color: white;
    font-size: 96px;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 40px;
  }

  .SignInErrorMessagesWrapper {
    font-size: 24px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 20px;
    color: red;
  }

  .SignInButton {
    display: inline-block;
    padding: 5px 30px;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: variables.$base-red;
    border: 2px solid variables.$base-red;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    cursor: pointer;

    &:active {
      scale: 0.98;
    }
  }

  .SignInLoginLabel {
    display: flex;
    flex-direction: column;
  }

  .SignInUsernameInput {
    font-size: 36px;
    padding: 5px 10px;
    border: 2px solid #DE004E;
    border-radius: 8px;
    background-color: #321450;
    color: white;

    &:focus {
      outline: none;
      border-color: white;
    }
  }

  .SignInPasswordLabel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .SignInPasswordInput {
    font-size: 36px;
    padding: 5px 10px;
    border: 2px solid #DE004E;
    border-radius: 8px;
    background-color: #321450;
    color: white;

    &:focus {
      outline: none;
      border-color: white;
    }
  }
}
