$base-red: #DE004E;

@font-face {
  font-family: 'sedgwick-regular';
  src: url('SedgwickAveDisplay-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $base-red;
  background-image: url("../../public/cyberpunk-background.jpg");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
