@import './variables';

@font-face {
  font-family: 'sedgwick-regular';
  src: url('SedgwickAveDisplay-Regular.ttf');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'sedgwick-regular';
  src: url('ofont.ru_Toyz.ttf');
  unicode-range: U+0400-04FF;
}

* {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $base-red;
  background-image: url("../../public/cyberpunk-background.jpg");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

