$base-red: #DE004E;
$base-pink: #F887FF;

.homePage {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: blueviolet;
  width: 100vw;
  min-height: 100vh;
  font-family: 'sedgwick-regular', serif;

  .title {
    position: relative;
    left: -9vw;
    min-height: 50vh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.80);
    color: $base-red;
    border-radius: 0 999px 999px 0;
    font-size: 6vw;
    text-shadow: 1px 1px 2px black;
    padding: 30px 30px 30px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;

    span {
      color: white;
    }
  }
}
