$base-red: #DE004E;
$base-pink: #F887FF;

.homePage {
  display: flex;
  align-items: center;
  background-color: $base-red;
  color: blueviolet;
  width: 100vw;
  min-height: 100vh;
  font-family: 'sedgwick-regular', serif;

  .title {
    min-height: 50vh;
    width: 70%;
    background-color: black;
    color: $base-red;
    opacity: 80%;
    border-radius: 0 999px 999px 0;
    font-size: 6vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;

    span {
      color: $base-pink;
    }
  }
}
