@import '../../variables';

.BooksListItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.80);
  margin: 5vh 0;
  height: 220px;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  transition-property: all !important;
  transition-duration: 0.2s !important;
  user-select: none;

  .BooksListItemTitle {
    font-size: 52px;
    color: $base-red;
  }

  .BooksListItemContent {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 30px;
    overflow: hidden;
  }

  &:nth-child(odd) {
    margin-left: 25vw;
    border-radius: 999px 0 0 999px;
    padding-left: 100px;
    padding-right: 300px;
    border-right: none;

    &:hover {
      translate: 3px -2px;
    }
  }

  &:nth-child(even) {
    margin-right: 25vw;
    border-radius: 0 999px 999px 0;
    padding-right: 100px;
    padding-left: 350px;
    border-left: none;

    &:hover {
      translate: -3px -2px;
    }
  }
}

.BookReviewModalWrapper {
  padding: 20px 100px;
  margin-right: 50px;
  text-align: left;
  height: 76vh;
  overflow-y: scroll;

  .BookReviewModalTitle {
    color: $base-red;
    text-align: center;
    font-size: 36px;
    padding-bottom: 3vh;
  }

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(222, 0, 78, 0.4);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $base-red;
    border-radius: 10px;
  }
}

.BookReviewModalCrossWrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.BookReviewModalCross {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 0;
  right: 0;
  color: $base-red;
  height: 60px;
  width: 60px;
  margin-bottom: 3vh;
  font-size: 18px;
  border-radius: 999px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $base-red;
  }
}
